.productList{
    flex:4;
    padding:20px;
    margin-top:10px;
}
.productListItem {
  display: flex;
  align-items: center;
}
.productListImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.productListAction {
  display: flex;
  align-items: center;
}
.productListEdit {
  border: none;
  outline: none;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background-color: green;
}
.productListIcon {
  color: red;
  cursor: pointer;
}
